@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    /* for Safari */
    -moz-appearance: none;
    /* for Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg fill="blue" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
    padding-right: 2.5rem;
    /* space for arrow */
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


@layer components {
    body {
        @apply text-base overflow-x-hidden font-normal;
        -webkit-text-size-adjust: 100%;
    }

    html {
        @apply overflow-x-hidden;
    }


    textarea,
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    select {
        @apply block outline-none text-base font-normal text-midnight_text m-0 rounded-[0.375rem] w-full placeholder:text-gray;
    }

    h1 {
        @apply md:text-[50px] md:leading-[1.2] text-[28px] leading-[1.2] font-bold text-midnight_text dark:text-white;
    }

    h2 {
        @apply md:text-[40px] leading-[1.2] text-2xl font-bold text-midnight_text dark:text-white;
    }

    h3 {
        @apply md:text-[25px] leading-[1.2] text-lg font-bold text-white dark:text-primary;
    }

    h4 {
        @apply text-2xl font-bold text-midnight_text dark:text-primary;
    }

    h5 {
        @apply text-[22px] leading-[1.2] font-medium text-midnight_text dark:text-primary;
    }

    .m_icon {
        @apply inline-block h-[3.8125rem] w-[3.4375rem] bg-no-repeat bg-cover object-cover;
    }

    .box_shadow {
        @apply shadow-[0px_3px_20px_0px_#3B4B68];
    }

    .header_shadow {
        @apply shadow-[0_2px_20px_rgba(0, 0, 0, 0.05)];
    }

    section {
        @apply lg:py-24 py-16;
    }

    /* Default Button CSS Start */
    .btn {
        @apply relative border-0 z-[1] py-3 px-4 text-lg font-normal rounded-lg cursor-pointer no-underline bg-primary text-white before:content-[''] before:absolute before:-z-[1] after:content-[''] after:absolute after:-z-[1] hover:bg-blue-700
    }

    /* White Button CSS Start */
    .btn_white {
        @apply relative z-[1] py-[0.85rem] px-[2.3rem] text-17 font-normal rounded-[0.3125rem] cursor-pointer no-underline border-transparent border-2 bg-white text-primary before:content-[''] before:absolute before:-z-[1] after:content-[''] after:absolute after:-z-[1] hover:bg-transparent hover:border-white hover:border-2 hover:text-white
    }

    /* transparent Button CSS Start */
    .btn_trans {
        @apply relative z-[1] py-[0.8rem] px-[2.3rem] text-17 font-normal rounded-[0.3125rem] cursor-pointer no-underline border-2 border-solid border-white text-white before:content-[''] before:absolute before:-z-[1] after:content-[''] after:absolute after:-z-[1] hover:text-white hover:border-transparent hover:bg-white
    }
}

.blog-details p, .blog-details hr {
    @apply mb-8;
}

.blog-details strong {
    @apply font-bold dark:text-white;
}

.blog-details ul {
    @apply mb-8 list-inside list-disc space-y-3;
}

.blog-details ol {
    @apply mb-8 list-inside list-decimal space-y-3;
}

.blog-details h1 {
    @apply mb-8 text-3xl font-bold dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.28];
}

.blog-details h2 {
    @apply mb-8 text-2xl font-bold dark:text-white sm:text-3xl md:text-[35px] md:leading-[1.28];
}

.blog-details h3 {
    @apply mb-6 text-2xl font-bold dark:text-white sm:text-[28px] sm:leading-[40px];
}

.blog-details hr {
    @apply border-border dark:border-dark_border
}

.dark .custom-input {
    background-color: red;
}



/* Admin panel variable */
.menu-item {
    @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-midnight_text;
}

.menu-item-active {
    @apply bg-herobg text-midnight_text;
}

.menu-item-inactive {
    @apply text-midnight_text hover:bg-herobg/40 group-hover:text-herobg/70;
}

.menu-item-icon-inactive {
    @apply text-gray group-hover:text-primary/70;
}

.menu-item-icon-active {
    @apply text-primary;
}

.menu-item-arrow {
    @apply relative;
}

.menu-item-arrow-active {
    @apply rotate-180 text-midnight_text
}

.menu-item-arrow-inactive {
    @apply text-gray group-hover:text-gray/70;
}

/* Rich text editor class */
/* COMMON */
.jodit-wysiwyg ul,
.jodit-wysiwyg ol {
    padding-left: 40px;
}

.jodit-wysiwyg li {
    margin: 6px 0;
}

/* UL */
.jodit-wysiwyg ul {
    list-style-type: disc;
}

.jodit-wysiwyg ul[style*="circle"] {
    list-style-type: circle;
}

.jodit-wysiwyg ul[style*="square"] {
    list-style-type: square;
}

.jodit-wysiwyg ul[style*="none"] {
    list-style-type: none;
}

/* OL */
.jodit-wysiwyg ol {
    list-style-type: decimal;
}

.jodit-wysiwyg ol[style*="lower-alpha"] {
    list-style-type: lower-alpha;
}

.jodit-wysiwyg ol[style*="upper-alpha"] {
    list-style-type: upper-alpha;
}

.jodit-wysiwyg ol[style*="lower-roman"] {
    list-style-type: lower-roman;
}

.jodit-wysiwyg ol[style*="upper-roman"] {
    list-style-type: upper-roman;
}

.jodit-wysiwyg ol[style*="lower-greek"] {
    list-style-type: lower-greek;
}

.jodit-wysiwyg li {
    margin: 6px 0;
}

.jodit-wysiwyg h1 {
    font-size: 36px;
}

.jodit-wysiwyg h2 {
    font-size: 30px;
}

.jodit-wysiwyg h3 {
    font-size: 24px;
}

.jodit-wysiwyg h4 {
    font-size: 18px;
}


.jodit-wysiwyg blockquote {
    border-left: 4px solid #ccc;
    padding-left: 16px;
    color: #555;
    margin: 1em 0;
}


/* Jodit rendered table content */
.jodit-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
}

.jodit-content th,
.jodit-content td {
    border: 1px solid #d1d5db;
    /* gray-300 */
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.jodit-content th {
    background-color: #f9fafb;
    /* gray-50 */
    font-weight: 600;
}

.jodit-content tr:nth-child(even) td {
    background-color: #f8fafc;
}

/* ===== Jodit rendered lists ===== */

.jodit-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1rem 0;
}

.jodit-content h1 {
    font-size: 36px;
}

.jodit-content h2 {
    font-size: 30px;
}

/* .jodit-content h3 {
  font-size: 24px;
} */

.jodit-content ul ul {
    list-style-type: circle;
}

.jodit-content ul ul ul {
    list-style-type: square;
}

.jodit-content ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin: 1rem 0;
}

.jodit-content ol ol {
    list-style-type: lower-alpha;
}

.jodit-content ol ol ol {
    list-style-type: lower-roman;
}

.jodit-content li {
    margin-bottom: 0.5rem;
}